/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kablammo&family=Kavivanar&family=Shadows+Into+Light&family=Smooch&display=swap');

*{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.95rem;    
}

#css-zen-garden {
    background-image: url(desert-dune-landscape-vector-illustration-mountain-background-realistic-cartoon-sahara-africa-yellow-scene-330462461.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h2 > abbr {
    display: flex;
    justify-content: center;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-left: 6px;
    margin-right: 3px;
}

.main.supporting {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
}

.page-wrapper{ 
    border: 1px solid;
    max-width: 40%;
    background-image:url(snake.png), url(cactus.png), url(camel1-removebg-preview.png), url(camel2-removebg-preview.png), linear-gradient(180deg, #C7E0D5 0%, #FBD768 100%);
    background-size: 25%, 25%, 25%, 25%, 100%;
    background-position-x:95%, 5%, 5%, 95%, center;
    background-repeat: no-repeat;
    background-position-y:82%, 68%, 95%, 50%;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    display: flex;
    justify-content: center;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 5px;
}

#zen-intro.intro {
    background-image: url(pyramid-removebg-preview\ \(1\).png), url(f3694b35c1a5a7989cbab8fa6c8db7ae-removebg-preview\ \(1\).png);
    background-size: 23%;
    background-repeat: no-repeat;
    background-position-x: left, right;
}

div [role=banner] {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.summary > p:last-child > a {
    margin-left: 5px;
    margin-right: -20px;
}

.summary > p:first-child > abbr {
    margin-left: 5px;
}

.summary > p:first-child{
max-width: 80%;
display: flex;
margin: 0 auto;
margin-top: 15px;
flex-wrap: wrap;
justify-content: center;
}

.summary > p:last-child {
    max-width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -10px;
    flex-wrap: wrap;
    justify-content: center;
}

section.intro .preamble {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 75%;
    max-width: 25%;
    position: absolute;
    top: 8.1%;
    right: 5%;
}

.preamble > p{
    text-indent: 0px;
}

.sidebar {
    position: absolute;
    top: 8.1%;
    left: 5%;
    max-width: 20%;
    font-size: 0.75rem;
}

body {
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
}

a:empty {
}

a:link {
    color:rgb(134, 92, 1);
}

a:visited {
    color:rgb(134, 92, 1);
}

a:hover {
    color: rgb(194, 116, 0);
}

a:active {
    color: rgb(110, 66, 0);
}

a:focus {
    color: red;
}

p:last-of-type {
    margin-bottom: 10px;
}

p:first-of-type {
    margin-top: 15px;
}
ul li {
    background: -webkit-linear-gradient(#a1842e, #83b9a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 + p {
    text-indent: 25px;
}

p + p {
    text-indent: 25px;
}

div [role=contentinfo] {
    text-indent: 0px;
}

*::selection {
    color:#dab340;
}

:not(p) {
    text-indent: 0px;
}

p::first-letter {
    text-transform: capitalize;
}

p::before {
    content: ">";
}

a:focus {
    color: rgb(228, 200, 59);
}

.design-selection, .design-archives, .zen-resources, x:only-child {
    text-decoration: underline;
}

p::after {
    content: "<";
}

h3 ~ p {
    text-indent: 25px;
}

li::first-line {
    color: black;
}

/* FIGURE OUT WHY FIRST LINE IS BROKEN!!! */